.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.auto-rows-fr {
  grid-auto-rows: 1fr;
}

/* Smooth scaling */
* {
  transition-property: transform, opacity, background-color, border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

@font-face {
  font-family: "MagnificoDaytime";
  src: url("../public/fonts/MagnificoDaytime-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cosmic";
  src: url("../public/fonts/cosmic.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
